# 
# Copyright (C) 2020  CismonX <admin@cismon.net>
# 
# Copying and distribution of this file, with or without modification, are
# permitted in any medium without royalty, provided the copyright notice and
# this notice are preserved. This file is offered as-is, without any warranty.
# 

# Attributes for GitHub Linguist
*.h linguist-language=c
tests/* linguist-detectable=false
configure.ac linguist-detectable=false
Makefile.am linguist-detectable=false
