# 
# Copyright (C) 2020  CismonX <admin@cismon.net>
# 
# Copying and distribution of this file, with or without modification, are
# permitted in any medium without royalty, provided the copyright notice and
# this notice are preserved. This file is offered as-is, without any warranty.
# 

# IDE & plugins
.idea/
.vscode/
.ccls*

# Autotools
*.cache/
.deps/
config.*
configure
configure.scan
Makefile.in
Makefile
depcomp
compile
libtool
ltmain.sh
install-sh
missing
stamp-h1
.dirstamp
aclocal.m4

# build
*.o
*.lo
*.loT
*.la
*.lai
*.a
*.so
*.dylib
.libs
u6ac
u6a

# DejaGnu
*.sum
site.*

# tests
unlambda-2.0.0*

# gcov
*.gcov
*.gcda
*.gcno

# others
*.log
